<launch>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find phantomx_gazebo)/worlds/test.world"/>
    <arg name="paused" value="true"/>
     <arg name="verbose" value="true" />
  </include>
  
   <param name="robot_description" textfile="$(find phantomx_description)/urdf/autogen_phantomx.urdf" />  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find phantomx_description)/urdf/autogen_phantomx.urdf -urdf -model phantomx -z 0.175" />


 
 <include file="$(find phantomx_control)/launch/phantomx_control.launch"/> 

  <node name="phantomx_walker" pkg="phantomx_gazebo" type="walker.py" />
  <node name="gazebo_tf_base_broadcaster" pkg="phantomx_gazebo" type="gazebo_tf_broadcaster.py" respawn="false" output="screen" />

</launch>
